<h2 style="padding-left: 0.4cm;">Family Penalties</h2>
<br>
<div class="col-md-3">
  <p>This is a simple project which is based on store the penalties imposed when a member of the family makes a spelling mistake.  </p>
  <p><a class="btn btn-default" href="#" role="button">Go to page »</a></p>
</div>  
<div>
  <img class="thumbnail" src="../FamilyPenalties.png" alt="Generic placeholder image" width="480" height="240">
</div>

<br><br><br>


<h2 style="padding-left: 0.4cm;">Make My Exam</h2>
<br>
<div class="col-md-3">
  <p>This is a simple project which is based on create exams, questions and answers. You also can preview the entire exam. Among the improvements to be developed, a link will be generated in order to realize the exam and store the results</p>
  <p><a class="btn btn-default" href="#" role="button">Go to page »</a></p>
</div>  
<div class="container">
  <div class="rpw">
    <div class="col-xs-8">
      <div id="carousel-ejemplo" class="carousel slide"></div>
      <ul class="carousel-indicators">
        <li data-target="#carousel-ejemplo" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-ejemplo" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-ejemplo" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-ejemplo" data-slide-to="0" class="active"></li>
      </ul>
    </div>  
  </div>
  
  <img class="thumbnail" src="../FamilyPenalties.png" alt="Generic placeholder image" width="480" height="240">
</div>

<br><br><br>


<h2 style="padding-left: 0.4cm;">Family Penalties</h2>
<br>
<div class="col-md-3">
  <p>This is a simple project which is based on store the penalties imposed when a member of the family makes a spelling mistake.  </p>
  <p><a class="btn btn-default" href="#" role="button">Go to page »</a></p>
</div>  
<div>
  <img class="thumbnail" src="../FamilyPenalties.png" alt="Generic placeholder image" width="480" height="240">
</div>

<br><br><br>

