<h2 style="padding-left: 0.4cm;">Family Penalties</h2>
<br>
<div class="col-md-3">
  <p>This is a simple project which is based on store the penalties imposed when a member of the family makes a spelling mistake.  </p>
  <p><a class="btn btn-default" href="#" role="button">Go to page »</a></p>
</div>  
<div>
  <img class="thumbnail" src="../FamilyPenalties.png" alt="Generic placeholder image" width="480" height="240">
</div>

<br><br><br>


<h2 style="padding-left: 0.4cm;">Make My Exam</h2>
<br>
<div class="col-md-3">
  <p>This is a simple project which is based on create exams, questions and answers. You also can preview the entire exam. Among the improvements to be developed, a link will be generated in order to realize the exam and store the results</p>
  <p><a class="btn btn-default" href="#" role="button">Go to page »</a></p>
</div>  
<div class="col-md-8">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    MakeMyExam  <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../MakeMyExam/Index.png" alt="Generic placeholder image" width="480" height="240">
      </div>

      <div class="item">
        <img src="../MakeMyExam/Answer.png" alt="Generic placeholder image" width="480" height="240">
      </div>

      <div class="item">
        <img src="../MakeMyExam/Question.png" alt="Generic placeholder image" width="480" height="240">
      </div>

      <div class="item">
        <img src="../MakeMyExam/Preview.png" alt="Generic placeholder image" width="480" height="240">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  
</div>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>