
<table>
  <tr>
    <td>
      <img class="thumbnail" src="../villa.jpg" alt="Generic placeholder image" width="240" height="240">
    </td>
    <td>
      <div class="container">
        <h2>Heading</h2>
        <pre>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</pre>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div>  
    </td>
  </tr>
</table>

  

