<h2 style="padding-left: 0.4cm;">Family Penalties</h2>
<br>
<div class="col-md-3">
  <p>This is a simple project which is based on store the penalties imposed when a member of the family makes a spelling mistake.  </p>
  <p><a class="btn btn-default" href="#" role="button">Go to page »</a></p>
</div>  
<div>
  <img class="thumbnail" src="../FamilyPenalties.png" alt="Generic placeholder image" width="480" height="240">
</div>

<br><br><br>


<h2 style="padding-left: 0.4cm;">Family Penalties</h2>
<br>
<div class="col-md-3">
  <p>This is a simple project which is based on store the penalties imposed when a member of the family makes a spelling mistake.  </p>
  <p><a class="btn btn-default" href="#" role="button">Go to page »</a></p>
</div>  
<div>
  <img class="thumbnail" src="../FamilyPenalties.png" alt="Generic placeholder image" width="480" height="240">
</div>

<br><br><br>


<h2 style="padding-left: 0.4cm;">Family Penalties</h2>
<br>
<div class="col-md-3">
  <p>This is a simple project which is based on store the penalties imposed when a member of the family makes a spelling mistake.  </p>
  <p><a class="btn btn-default" href="#" role="button">Go to page »</a></p>
</div>  
<div>
  <img class="thumbnail" src="../FamilyPenalties.png" alt="Generic placeholder image" width="480" height="240">
</div>

<br><br><br>
